/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

/* ----------- css for index.html ------------------ */

/* --------- nav bar ----------*/


body{
	margin:0 20% 0 20%;
	max-width: 100%;
	max-height: 100%;
	min-width: 50%;
	
}


/* body *{
	border:1px solid gray;

} */

nav{
	display:flex;
	justify-content: center;
	align-items: center;
	height: 9vh;
	margin:0 0 30px 0; 

}

nav a{
	text-decoration: none;
	color:gray;
}

.box1{
	display: flex;
	color:gray;
	justify-content: space-between;
	width:55%;
	margin-right: 3%;
}

.box1a{
	margin-left: 9%;
}

/* --------- header ----------*/

header{
	display: flex;
	padding-bottom: 5vh;
	border-bottom: 2px solid black;
}

.box2{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.a2{
	width: 49%;
}

.b2{
	display: flex;
	justify-content: center;
	width: 49%;
}

.box2.a2 h1{
	font-size: 500%;
	text-align: center;
	
}
.getS{
	border:1px solid black;
	padding:3px 20px
}

/* --------- Section 1 ----------*/

.sec1{
	display: flex;
	padding: 4vh 0;
	align-items: center;
	justify-content: space-between;
}

.box3{
	width: 49%;
}

/* --------- middle img ----------*/

.middle-img{
	width:100%;
}

/* --------- Section 2 ----------*/

.sec2{
	display: flex;
	padding:3vh 0vh;
	justify-content: space-between;
	border-bottom: 2px solid black;
}

.box4{
	width:32%;
}

/* --------- contact ----------*/

.contact{
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}
.contact p{
	height: 4vh;
}

/* --------- footer ----------*/

footer{
	display: flex;
	justify-content: center;
	margin-bottom: 10vh;
	height: 15vh;
	align-items: center;
}

/* ----------- css for service.html ------------------ */


/* --------- header ----------*/


.Sheader{
	flex-direction: column;
	justify-content: space-between;
}

.Sheader img{
	padding-bottom: 3vh;
}
.Sheader h2{
	font-size: 3vh;
	height: 20px;
	padding-bottom:30px;
}
p{
	font-size: 1.75vh;
	line-height: 2vh;
}

/* --------- section1 ----------*/

.Ssec1{
	display: flex;
	flex-wrap:wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid black;
	padding-bottom: 4%;
}

.S1boxs{
	display: flex;
	flex-direction: column;
	width:48%;
	margin:3vh 0vh 0vh 0vh;
	padding:2%;
	height:25vh;
	border:2px solid black;
}

.S1boxs a{
	border:2px solid black;
	border-radius: 6px;
	padding: 3% 5px;
	width: 30%;
	margin-top:2vh;
	text-align: center;
}

/* --------- section2 ----------*/

.Facts{
	margin-top:4vh;
	display:flex;
}

.Facts div{
	display: flex;
	flex-direction: column;
}

.Facts div *{
	padding-top:1.5vh;
}

.Facts div p{
	width:89%;
}

/* --------- footer ----------*/
footer{
	display: flex;
	justify-content: center;
	vertical-align: bottom;
	height:5vh;
	margin-top: 15vh;
}

/* ----------- css for service.html ------------------ */

/* --------- header ----------*/

.Pheader{
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.Pheader *{
	margin:3vh 0;
}
.Pheader img{
	height: 400px;
	width: 80%;
	border-radius: 55px;
}
.Pheader p{
	line-height: 2.5vh;
}
.Pheader h1{
	font-size: 3vh;
}

/* --------- productsA ----------*/

.Prods{
	display: flex;
	justify-content: center;
	font-size: 5vh;
	margin:4vh 0 6vh 0;
}

.products{
	display: flex;
	justify-content: space-evenly;
	height: 50vh;
	align-items: center;
}

.ProChild{
	display: flex;
	height: 32vh;
	padding: 5vh 4vh;
	justify-content: right;
	flex-direction: column;
	align-items: center;
	border:2px inset;
	background-color:  #e3e5e8;
	border-radius: 9px;
}

.ProChild div{
	padding-top:5%;
	color:green;
}

.ProChild a{
	align-self: center;
	margin: 15% 0 0 0;
	padding: 5%;
	border: 2px outset;
	border-radius: 8px;
	background-color: lightgray;
}

.Beginner a{
	margin:12%;
}

.Full a{
	margin:22%;
}
.ProChild a:active{
	background-color:gray;
}

#Cross{
	text-decoration: line-through;
	color: red;
}